*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
    background-color: rgb(215, 236, 255);
}
.container{
    margin: 100px auto;
    width: 810px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
/* @@ top part @@ */
.container .main-card{
    min-width: 250px;
    background-color: white;
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.383);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    overflow: hidden;
    border-radius: 5px;
    padding-bottom: 10px;
    transition: all .2s;
    cursor: pointer;
}
.container .main-card *{
    background-color: white;
    transition: all .2s;
    /* cursor: pointer; */
}
.container .main-card h1{
    width: 100%;
    text-align: center;
    height: 70px;
    line-height: 70px;
    font-size: 30px;
    background-color: #3998a8;
    color: #fff;
    font-weight: bold;
}
.container   .main-card h2{
    font-size: 60px;
    font-weight: bold;
    color: #444;
}
.container  .main-card p{
    font-size: 25px;
    color: #555;
    position: relative;top: -25px;
}
.container .main-card .spans{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    position: relative;top: -20px;
}
.container   .main-card .spans span{
    height: 7px;
    border-radius: 5px;
    background-color: #e7e7e7;
    
}
.container   .main-card .spans span.l1{
    width: 90%;
}
.container   .main-card .spans span.l3{
    width: 90%;
}
.container   .main-card .spans span.l2{
    width: 80%;
}
.container   .main-card .spans span.l4{
    width: 70%;
}
/* @@@@@  Hover in top part @@@@ */
.container   .main-card:hover{
    transform: scale(1.05 , 1.08);
}
.container   .main-card:hover h1{
    background-color: #1f8799;
}
.container   .main-card:hover h2{
    color: #1f8799;
}
.container   .main-card:hover p{
    color: #1f8799;
}
/* @@@@@  Bottom part @@@@ */
.container .bottom {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
    background-color: white;
}
.container .bottom .bot-card{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.container .bottom .bot-card .prog-top{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.container .bottom .bot-card .prog-top *{
    font-size: 20px;
    color: #444;
    background-color: white;
}
.container .bottom .bot-card .cont-prog {
    width: 100%;
    background-color: rgb(201, 198, 198);
    height: 13px;
    border-radius: 10px;
    overflow: hidden;
  }
.container .bottom .bot-card .cont-prog .prog{
    background-color: #1f8799;
    width: 0% ;
    height: 100%;
    transition: all .2s;
  }
/* @@@@@  Hover in bottom part @@@@ */
/* @@ hover card-1 @@ */
.container .card-1:hover ~ .bottom .bottom-1 .cont-prog .p1{
    width: 10%;
}
.container .card-1:hover ~ .bottom .bottom-2 .cont-prog .p2{
    width: 10%;
}
.container .card-1:hover ~ .bottom .bottom-3 .cont-prog .p3{
    width: 10%;
}
/* @@ hover card-2 @@ */
.container .card-2:hover ~ .bottom .bottom-1 .cont-prog .p1{
    width: 20%;
}
.container .card-2:hover ~ .bottom .bottom-2 .cont-prog .p2{
    width: 60%;
}
.container .card-2:hover ~ .bottom .bottom-3 .cont-prog .p3{
    width: 40%;
}
/* @@ hover card-3 @@ */
.container .card-3:hover ~ .bottom .bottom-1 .cont-prog .p1{
    width: 100%;
}
.container .card-3:hover ~ .bottom .bottom-2 .cont-prog .p2{
    width: 100%;
}
.container .card-3:hover ~ .bottom .bottom-3 .cont-prog .p3{
    width: 100%;
}
/* @@ Good bay @@ */